@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Bienvenido al calculo de notas</h2>
    
</div>

<table class="table">
    
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Nota Lab1 </th>
      <th scope="col">Nota Lab2</th>
      <th scope="col">Nota Lab3</th>
      <th scope="col">Nota Parcial1</th>
      <th scope="col">Nota Parcial2</th>
      <th scope="col">Nota Parcial3</th>
      <th scope="col">Promedio</th>
      </thead>
      <tr>
         <td>@ViewBag.l1</td> 
         <td>@ViewBag.l2</td> 
         <td>@ViewBag.l3</td> 
         <td>@ViewBag.p1</td> 
         <td>@ViewBag.p2</td> 
         <td>@ViewBag.p3</td> 
         <td>@ViewBag.promf</td>
         
      </tr>
  
  </table>
<br />
<br />

<form>
    <div class="notas">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese su nombre : </label>
    <input type="text" class="form-controles" 
    
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese la  primera nota del laboratorio </label>
    <input type="text" class="form-control" 
    
  </div>

   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese la  segunda nota del laboratorio </label>
    <input type="text" class="form-control" 
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese la tercera nota del laboratorio </label>
    <input type="text" class="form-control" 
   
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese la  primera nota del Parcial </label>
    <input type="text" class="form-control" 
  </div>
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese la segunda nota del Parcial </label>
    <input type="text" class="form-control"
   
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese la segunda nota del Parcial </label>
    
    <input type="text" class="form-control" 
  </div>
    <br />
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

